.text-smaller,
.text-small,
.text-medium,
.text-medium-big,
.text-big,
.text-bigger {
	font-weight: inherit;
	font-variant: no-common-ligatures;
	letter-spacing: normal;

	* {
		font-family: inherit;
		font-weight: inherit;
		line-height: inherit;
		font-size: inherit;
		color: inherit;
	}

	strong, b {
		font-size: inherit;
		line-height: inherit;
		color: inherit;
		font-weight: $bold;
		font-family: inherit;
	}

	small {
		font-size: 45%;
		vertical-align: super;
	}
}

.text-smaller {
	font-size: 10px;
	line-height: 2;
}

.text-small {
	font-size: 14px;
	line-height: 1.6;
}

.text-medium {
	font-size: 16px;
	line-height: 1.6;
}

.text-medium-big {
	font-size: 18px;
	line-height: 1.6;

	@media #{$mq-md-min} {
		font-size: 20px;
	}
}

.text-big {
	font-size: 28px;
	line-height: 1.2;

	@media #{$mq-xs-min} {
		font-size: 30px;
	}

	@media #{$mq-sm-min} {
		font-size: 32px;
	}

	@media #{$mq-md-min} {
		font-size: 34px;
	}

	@media #{$mq-lg-min} {
		font-size: 36px;
	}

	@media #{$mq-xl-min} {
		font-size: 40px;
	}
}

.text-bigger {
	font-size: 24px;
	line-height: 1.2;

	@media #{$mq-xs-min} {
		font-size: 26px;
	}

	@media #{$mq-sm-min} {
		font-size: 28px;
	}

	@media #{$mq-md-min} {
		font-size: 32px;
	}

	@media #{$mq-lg-min} {
		font-size: 36px;
	}

	@media #{$mq-xl-min} {
		font-size: 40px;
		line-height: 1;
	}
}